<!-- Sign Up Modal content [step2] -->
<div ng-init="init()">
  <div id="login-success-modal" class="modal-content" ng-controller="login">
      <div class="modal-header">
          <!--<span class="close icon-close"></span>-->
          <h4>LOGIN SUCCESSFUL</h4>
      </div>
      <div class="modal-body text-center">
          <form method="post" action="#">
              <h2 class="col-teal">You're all set.</h2>
              <input type="button" ng-click="lgs_submit()" id="lgs_submit" name="lgs_submit" value="CONTINUE EXPLORING" />
          </form>
      </div>
  </div>
</div>
